<% layout("/layouts/boilerplate.ejs") %>

<section
  class="profile-update-section d-flex align-items-center justify-content-center py-5 min-vh-100"
  style="background: linear-gradient(to bottom, #00b4d8, #caf0f8)"
>
  <div class="container text-center">
    <div class="mb-2">
      <div class="d-inline-block bg-white p-3 rounded-circle shadow-sm mb-1">
        <img
          src="/images/logoMain.jpg"
          alt="Career Club Logo"
          class="img-fluid"
          style="
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
          "
        />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <form action="/profile/<%=member.member_id%>?_method=PUT" method="POST">
          <div class="mb-3">
            <input
              type="text"
              class="form-control form-control-lg rounded text-center"
              id="memberNameInput"
              name="name"
              required
              value="<%=member.name %>"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control form-control-lg rounded text-center"
              id="memberIdInput"
              name="student_id"
              required
              value="<%=member.student_id %>"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control form-control-lg rounded text-center"
              id="memberDeptInput"
              name="dept_name"
              required
              value="<%=member.dept_name %>"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control form-control-lg rounded text-center"
              id="memberPhnInput"
              name="phone_number"
              required
              value="<%=member.phone_number %>"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control form-control-lg rounded text-center"
              id="memberEmailInput"
              name="email"
              required
              value="<%=member.email %>"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control form-control-lg rounded text-center"
              id="memberHomeInput"
              name="hometown"
              required
              value="<%=member.hometown %>"
            />
          </div>

          <div class="d-grid gap-2 col-6 mx-auto">
            <button
              type="submit"
              class="btn btn-info btn-lg shadow-sm text-white fw-medium border-0"
              style="background-color: #00c3ff; padding: 0.75rem 1rem"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
